\documentclass[10pt]{article}

\usepackage{hyperref}
\hypersetup{
  colorlinks=true,
  linkcolor=blue,
  filecolor=magenta,      
  urlcolor=blue,
  pdftitle={Analysis report},
}
\usepackage{graphicx}

\usepackage[
	top=2cm, 
	bottom=2cm, 
	left=2cm, 
	right=2cm
]{geometry}

\usepackage{advdate}

\setlength\parindent{0pt}

\usepackage[utf8]{inputenc}
\usepackage[T1]{fontenc}

\usepackage{tgadventor}
%\renewcommand*\familydefault{\sfdefault}

\usepackage{xcolor}

\definecolor{highlightcolour}{HTML}{DF0174}
\definecolor{rulecolour}{HTML}{B2BEB5}

\usepackage{colortbl}
\usepackage{booktabs}
\usepackage{multirow}
\usepackage{array}
\def\arraystretch{1.2}

\newcolumntype{R}[1]{>{\raggedleft\let\newline\\\arraybackslash\hspace{0pt} }m { #1 } }

\newcommand{\termsandconditions}[1]{\renewcommand{\termsandconditions}{ #1} }


\newcommand{\reportinformation}{
	{
    \fontfamily{\sfdefault}

    \begin{center}
      \fontfamily{\sfdefault}
      { \LARGE Top findings }
    \end{center}

    \begin{tabular}{p{0.1\textwidth} m{0.6\textwidth} m{0.15\textwidth} p{0.15\textwidth} }
      &  &  & \textbf{t-test} \\
			\arrayrulecolor{rulecolour}\toprule[0.5pt]
      {% for result in highlights.top3 %}
      \includegraphics[width=24pt]{Pie4} & {{ result.statement }} & \Huge \color{highlightcolour} {{ result.base.significance.effect | effect_filter }}  & $ {{ result.base.significance.p | pvalue_filter }} $  \\
      {% endfor %}
		\end{tabular}

    \vspace{2pc}
    \newpage

    \begin{center}
      \fontfamily{\sfdefault}
      { \LARGE Additional findings }
    \end{center}

    \begin{center}\includegraphics[width=24pt]{Pie4}\textbf{Cell population fractions}\end{center}

    \begin{tabular}{p{0.2\textwidth} p{0.2\textwidth} p{0.2\textwidth} p{0.1\textwidth} p{0.1\textwidth}}
      Cell type & Elevated in & Compared to & By amount & t-test \\
			\arrayrulecolor{rulecolour}\toprule[0.5pt]
      {% for result in highlights.top10_single_fractions %}
      {{ result.case.phenotype_str }} & {{ result.cohorts.higher_cohort.abbreviation }} & {{ result.cohorts.lower_cohort.abbreviation }} & {{ result.base.significance.effect | effect_filter }}  & $ {{ result.base.significance.p | pvalue_filter }} $  \\
      {% endfor %}
		\end{tabular}

    \vspace{2pc}
    \begin{center}\textbf{Cell population pair ratios}\end{center}

    \begin{tabular}{p{0.15\textwidth} p{0.15\textwidth} p{0.15\textwidth} p{0.15\textwidth} p{0.1\textwidth} p{0.1\textwidth}}
      Cell type & Other cell type & Ratio elevated in & Compared to & By amount & t-test \\
			\arrayrulecolor{rulecolour}\toprule[0.5pt]
      {% for result in highlights.top10_ratios %}
      {{ result.case.phenotype_str }} & {{ result.case.other_phenotype_str}} & {{ result.cohorts.higher_cohort.abbreviation }} & {{ result.cohorts.lower_cohort.abbreviation }} & {{ result.base.significance.effect | effect_filter }}  & $ {{ result.base.significance.p | pvalue_filter }} $  \\
      {% endfor %}
		\end{tabular}
 
    \vspace{2pc}
    \begin{center}\textbf{Cell population pair proximity}\end{center}

    \begin{tabular}{p{0.15\textwidth} p{0.15\textwidth} p{0.15\textwidth} p{0.15\textwidth} p{0.1\textwidth} p{0.1\textwidth}}
      Cell type & Other cell type & Proximity elevated in & Compared to & By amount & t-test \\
			\arrayrulecolor{rulecolour}\toprule[0.5pt]
      {% for result in highlights.top10_proximity %}
      {{ result.case.phenotype_str }} & {{ result.case.other_phenotype_str}} & {{ result.cohorts.higher_cohort.abbreviation }} & {{ result.cohorts.lower_cohort.abbreviation }} & {{ result.base.significance.effect | effect_filter }}  & $ {{ result.base.significance.p | pvalue_filter }} $  \\
      {% endfor %}
		\end{tabular}
 
  }
}

\usepackage{everypage}
\def\PageTopMargin{1in}
\def\PageLeftMargin{1in}
\newcommand\atxy[3]{
 \AddThispageHook{\hbox{\smash{\hspace*{\dimexpr-\PageLeftMargin-\hoffset+#1\relax}
  \raisebox{\dimexpr\PageTopMargin+\voffset-#2\relax}{ #3} }} }}

\definecolor{blue(pigment)}{rgb}{0.07, 0.05, 0.4}

\newenvironment{report}
{
  \thispagestyle{empty}
  \atxy{-0.35cm}{0.6in}{ \href{https://smprofiler.io}{\includegraphics[width=3.5cm]{smprofiler_logo}} }
  \atxy{6.2in}{0.4in}{\emph{Report generated {{ metadata.date_generated }} }}

  \begin{center}
    \fontfamily{\sfdefault}
    {
      {\color{blue(pigment)}\Huge Multiplex imaging dataset} \\
      \vspace{1pc}
      {\color{blue(pigment)}\LARGE Histological spatial pattern analysis}
    }
	\end{center}
	
	\vspace{1cm}

  {
    \fontfamily{\sfdefault} 
    \large
		\begin{tabular}{p{0.3\textwidth} r p{0.4\textwidth} p{0.1\textwidth} }
			\arrayrulecolor{rulecolour}\toprule[0.5pt]
       \multirow{ {{ metadata.number_cohorts_plus_one }} }{*}{ {\color{highlightcolour} \LARGE \parbox[c][4em]{\hsize}{ {{ metadata.study_description_phrase }} } } } & & & \\
      {% for cohort in metadata.cohorts %}
      &  {{ cohort.number_samples }} samples & {{ cohort.name }} & \textbf{ {{ cohort.abbreviation }} } \\
      {% endfor %}
			\arrayrulecolor{rulecolour}\bottomrule[0.5pt]
		\end{tabular}
	}
\vspace{2pc}	

{{ metadata.number_samples }} samples were collected and analyzed by {{ metadata.main_author }} et al \footnote{ {{ metadata.reference_footnote }} },
using {{ metadata.data_collection_modality }} to capture abundance of {{ metadata.number_channels }} proteins in single
cells imaged in histology slides.
\vspace{2pc}	

	\reportinformation
	\vfill
}{ 
	\vfill
}


\termsandconditions{Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porttitor arcu luctus, imperdiet urna iaculis, mattis eros. Pellentesque iaculis odio vel nisl ullamcorper, nec faucibus ipsum molestie. Sed dictum nisl non aliquet porttitor. Etiam vulputate arcu dignissim, finibus sem et, viverra nisl. Aenean luctus congue massa, ut laoreet metus ornare in. \newline\newline Aliquam arcu turpis, ultrices sed luctus ac, vehicula id metus. Morbi eu feugiat velit, et tempus augue. Proin ac mattis tortor. Donec tincidunt, ante rhoncus luctus semper, arcu lorem lobortis justo, nec convallis ante quam quis lectus. Aenean tincidunt sodales massa, et hendrerit tellus mattis ac. Sed non pretium nibh.} 


\begin{document}

\begin{report}
\end{report}

\end{document}

